In [33]:
import pandas as pd
import numpy as np

In [9]:
digimon = pd.read_csv("DigiDB_digimonlist.csv")

In [10]:
digimon.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [36]:
import scipy.stats as st

In [53]:
#confidence 90% for HP column

In [48]:
confidence = 0.90

In [23]:
len(digimon['Lv 50 HP']-1)

249

In [16]:
digimon['Lv 50 HP'].mean()

1210.8835341365461

In [37]:
st.sem(digimon['Lv 50 HP'])

20.665898865788087

In [49]:
st.t.interval(confidence, len(digimon['Lv 50 HP']-1), loc=digimon['Lv 50 HP'].mean(), scale=st.sem(digimon['Lv 50 HP']))

(1176.7642146381786, 1245.0028536349137)

In [83]:
# het gemiddelde ligt tussen de 1176.77 en de 1245.00. zo moet je dit hierboven lezen

0       590
1       950
2       870
3       690
4       540
5       940
6      1030
7       930
8       930
9       640
10      540
11      550
12     1040
13      830
14     1030
15      830
16     1030
17     1020
18     1160
19      530
20      930
21      930
22     1030
23      970
24      980
25      950
26     1050
27      590
28     1030
29      790
       ...
219    1480
220    1240
221    1630
222    1140
223    1190
224    1430
225    1680
226    1730
227     940
228    1040
229    1240
230    1330
231     940
232    1530
233    1680
234    1490
235    1780
236    1490
237    1130
238    1240
239    1140
240    1290
241    1680
242    1580
243    1080
244    1330
245    1980
246    1440
247    1040
248    1480
Name: Lv 50 HP, Length: 249, dtype: int64

In [52]:
#confidence 90% for lvl 50 attack column

In [41]:
lvl50Atk = digimon['Lv50 Atk']

In [42]:
lvl50Atk

0       79
1       76
2       97
3       77
4       54
5      109
6       85
7      107
8      108
9       76
10      54
11      60
12      82
13      54
14      82
15      79
16     131
17     124
18      67
19      83
20      82
21      52
22     118
23     123
24      94
25      99
26     133
27      53
28     123
29      93
      ...
219    183
220    173
221    134
222    154
223    163
224     99
225    218
226    168
227     99
228    139
229    144
230    144
231     74
232    154
233    208
234    153
235    247
236     89
237    119
238    168
239    158
240     94
241    238
242    188
243    318
244    148
245    228
246    178
247    149
248    149
Name: Lv50 Atk, Length: 249, dtype: int64

In [51]:
st.t.interval(confidence, len(lvl50Atk-1), loc=lvl50Atk.mean(), scale=st.sem(lvl50Atk))

(119.74293294850015, 129.29321162981307)

In [54]:
#confidence 95% for HP column

In [55]:
confidence = 0.95

In [56]:
st.t.interval(confidence, len(digimon['Lv 50 HP']-1), loc=digimon['Lv 50 HP'].mean(), scale=st.sem(digimon['Lv 50 HP']))

(1170.1812844174656, 1251.5857838556267)

In [57]:
#confidence 95% for lvl 50 attack

In [58]:
st.t.interval(confidence, len(lvl50Atk-1), loc=lvl50Atk.mean(), scale=st.sem(lvl50Atk))

(118.8216247414233, 130.21451983688993)

In [59]:
#confidence 99% for HP column

In [60]:
confidence = 0.99

In [61]:
st.t.interval(confidence, len(digimon['Lv 50 HP']-1), loc=digimon['Lv 50 HP'].mean(), scale=st.sem(digimon['Lv 50 HP']))

(1157.240693460119, 1264.5263748129732)

In [62]:
#confidence 99% for lvl 50 attack column

In [63]:
st.t.interval(confidence, len(lvl50Atk-1), loc=lvl50Atk.mean(), scale=st.sem(lvl50Atk))

(117.0105357197116, 132.02560885860163)

In [64]:
#confidence 99.99% for HP column

In [65]:
confidence = 0.9999

In [66]:
st.t.interval(confidence, len(digimon['Lv 50 HP']-1), loc=digimon['Lv 50 HP'].mean(), scale=st.sem(digimon['Lv 50 HP']))

(1129.1593202097872, 1292.607748063305)

In [67]:
#confidence 99% for lvl 50 attack column

In [68]:
st.t.interval(confidence, len(lvl50Atk-1), loc=lvl50Atk.mean(), scale=st.sem(lvl50Atk))

(113.08043183373776, 135.95571274457546)

In [ ]:
#confidence interval wordt steeds groter hoe groter de confidence is

In [69]:
#first 10% rows hp

In [74]:
n = 10
hpRowsTenPercent = digimon['Lv 50 HP'].head(int(len(digimon['Lv 50 HP'])*(n/100)))

In [75]:
#confidence interval 95 % confidence lvl 50 hp

In [ ]:
confidence = 0.95

In [77]:

st.t.interval(confidence, len(hpRowsTenPercent-1), loc=hpRowsTenPercent.mean(), scale=st.sem(hpRowsTenPercent))

(670.5109656604768, 1040.3223676728564)

In [78]:
#first 10% rows atk

In [79]:
n = 10
atkRowsTenPercent = lvl50Atk.head(int(len(lvl50Atk)*(n/100)))

In [80]:
#confidence interval 95 % confidence lvl 50 atk

In [81]:
st.t.interval(confidence, len(atkRowsTenPercent-1), loc=atkRowsTenPercent.mean(), scale=st.sem(atkRowsTenPercent))

(63.08484512313133, 108.49848821020201)

In [82]:
# je ziet dat de data kleiner is geworden dus de confidence interval is ook kleiner